@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mdc-layout-grid__inner {
    grid-gap: 0px;
}

.mdc-layout-grid__cell {
    max-width: 50em;
    margin: auto;
}