@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!

@use '@material/theme/index' as theme with (
  $primary: #418a26,
  $secondary: #3a5d27,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  font-family: var(--mdc-text-button-label-text-font,var(--mdc-typography-button-font-family,var(--mdc-typography-font-family, Roboto,)));

}



a {
  color: #418a26;
}
a:visited {
  color: color.scale(#3a5d27, $lightness: -35%);
}
